<div class="signup-page-container">
  <h2 class="create-account-title">Create a new WE DO account</h2>
  <form class="form signup-form">
  <!--Name-->
    <div class="form-group">
      <label for="nameSignup">Your Username:</label>
      <input class="form-input" type="text" id="nameSignup" />
    </div>
    <!--Email-->
    <div class="form-group">
      <label for="emailSignup">Your email:</label>
      <input class="form-input" type="text" id="emailSignup" />
    </div>
    <!--ZIP-->
    <div class="form-group">
      <label for="ZIPSignup">Your ZIP Code:</label>
      <input class="form-input" type="text" id="ZIPSignup" />
    </div>
    <!--password-->
    <div class="form-group">
      <label for="passwordSignup">Password:</label>
      <input class="form-input" type="password" id="passwordSignup" />
    </div>
    <!--password confirm-->
    <div class="form-group">
      <label for="passwordConfirm">Confirm Password:</label>
      <input class="form-input" type="password" id="passwordConfirm" />
    </div>
    <button type="submit" class="btn btn-default" id="signupBtn">Submit</button>
    <p id="noMatchAlert"></p>
  </form>
</div>

