<div class="signup-page-container">
  <h2 class="create-account-title">Create a new WE DO account</h2>

  <form class="form signup-form">
  <!--Name-->
  <div class="form-group">
      <label for="name-signup">Your Name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <!--Email-->
    <div class="form-group">
      <label for="email-signup">Your email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <!--ZIP-->
    <div class="form-group">
      <label for="ZIP-signup">Your ZIP Code:</label>
      <input class="form-input" type="text" id="ZIP-signup" />
    </div>
    <!--password-->
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
  <!--password confirm-->
    <div class="form-group">
      <label for="password-login">Confirm Password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>


  </form>
</div>

