body {
  height: 100%;
  background-color: #f5eec2;
  color: #416a59;
}

.login-title {
  margin-bottom: 30px;
}

#login-btn {
  background-color: #73a24e;
  border: none;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  border: solid 1px #416a59;
  border-radius: 8px;
  padding-top: 30px;
}

.create-account-question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  flex-direction: column;
}

#create-account-btn {
  background-color: #73a24e;
  margin-top: 15px;
  color: white;
  border: none;
}

.create-account-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

}

.signup-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px black;
  width: 400px;
  border-radius: 10px;
  padding-top: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

header {
  background-color: #416a59;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding: 15px;
}

.page-title {
  color: #f5eec2;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header-options {
  display: flex;
  flex-direction: row;
}

#addEvent {
  margin-right: 15px;
  border-radius: none;
}

#logout {
  background-color: transparent;
  color: #39395f;
  border: none;
}

.dropdown-menu {
  background-color: #f5eec2;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  color: #39395f;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  margin: none;
  padding: none;
}

#homepage-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: none;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.menu-items {
  color: white;
  list-style-type: none;
  margin-top: 20px;
}

li {
  margin-bottom: 20px;
}

#events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-right: 50px;
}

.btn {
  background-color: #73a24e;
  color: white;
  border-radius: 0;
  border: none;
  /* box-shadow: 2px 2px 10px black; */
}

.event-card {
  background-color: #416a59;
  margin-bottom: 80px;
  padding: 20px;
  width: 900px;
}



.card-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: solid 1px #f5eec2;
}

.card-title {
  color: #f5eec2;
}

.card-body {
  margin-top: 15px;
  color: #f5eec2;
}

.description-body {
  background-color: #f5eec2;
  color: #416a59;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 8px;
  margin-bottom: 10px;
}